html,
body,
#root {
  height: 100%;
  margin: 0;
}

.page {
  width: 100%;
  min-height: 95vh;
}

.bgVideo {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-image: url('/introback.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #000;
}

.bgVideo__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  object-position: center;
}

@supports (height: 100dvh) {
  .bgVideo {
    height: 100dvh;
  }

  .bgVideo__video {
    height: 100dvh;
  }
}
